.git
.github
.env
.venv
osii-env
osii-data
site

**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
**/*.pyo
**/node_modules
**/dist
**/build
**/demo-workspace

osii-demo-notebooks
docs
