.git
.github
.env
.env.*
.venv
osii-env
osii-data
site

**/__pycache__
**/.venv*
**/venv
**/.env
**/.env.*
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
**/*.pyo
**/node_modules
**/dist
**/build
**/demo-workspace
**/models
**/.cache
**/*.egg-info
**/data_volume

osii-demo-notebooks
docs
